<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="br.com.michelon.softimob.aplicacao.main.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="br.com.michelon.softimob.aplicacao.main.Perspective"
            id="br.com.michelon.softimob.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ant.ui.views"
            class="view.TipoComodoView"
            id="view.TipoComodoView"
            name="Cômodos"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">

      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Cadastro">
            <command
                  commandId="br.com.michelon.softimob.command.cmdImovel"
                  icon="icons/imovel/casa16.png"
                  label="Imóvel"
                  style="push">
            </command>
            <command
                  commandId="br.com.michelon.softimob.command.cmdCliente"
                  icon="icons/cliente/cliente16.png"
                  label="Cliente"
                  style="push">
            </command>
            <command
                  commandId="br.com.michelon.softimob.command.cmdPlaca"
                  icon="icons/placa/placa16.png"
                  label="Placa"
                  style="push">
            </command>
            <command
                  commandId="br.com.michelon.softimob.command.cmdComodo"
                  label="Cômodo"
                  style="push">
            </command>
            <command
                  commandId="br.com.michelon.softimob.command.cmdFuncionario"
                  icon="icons/funcionario/funcionario16.png"
                  label="Funcionário"
                  style="push">
            </command>
            <command
                  commandId="br.com.michelon.softimob.command.cmdTipoImovel"
                  icon="icons/imovel/casa16.png"
                  label="Tipo imóvel"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="br.com.michelon.softimob.tela.editor.ChaveEditor"
            icon="icons/chave/key16.png"
            id="br.com.michelon.softimob.tela.editor.ChaveEditor"
            name="Cadastro Chave">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.TipoImovelEditor"
            icon="icons/imovel/casa16.png"
            id="br.com.michelon.softimob.tela.editor.TipoImovelEditor"
            name="Cadastro Tipo de Imóvel">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.FuncionarioEditor"
            icon="icons/funcionario/funcionario16.png"
            id="br.com.michelon.softimob.tela.editor.FuncionarioEditor"
            name="Cadastro Funcionário">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.PlacaEditor"
            icon="icons/placa/placa16.png"
            id="br.com.michelon.softimob.tela.editor.PlacaEditor"
            name="Cadastro Placa">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.ClienteEditor"
            icon="icons/cliente/cliente16.png"
            id="br.com.michelon.softimob.tela.editor.ClienteEditor"
            name="Cadastro Cliente">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.ComodoEditor"
            id="br.com.michelon.softimob.tela.editor.ComodoEditor"
            name="Cadastro Cômodo">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.ImovelEditor"
            icon="icons/imovel/casa16.png"
            id="br.com.michelon.softimob.tela.editor.ImovelEditor"
            name="Cadastro Imóvel">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.BairroEditor"
            default="false"
            id="br.com.michelon.softimob.tela.editor.BairroEditor"
            name="Cadastro Bairro">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.CidadeEditor"
            default="false"
            id="br.com.michelon.softimob.tela.editor.CidadeEditor"
            name="Cadastro Cidade">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.EstadoEditor"
            default="false"
            id="br.com.michelon.softimob.tela.editor.EstadoEditor"
            name="Cadastro Estado">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.RuaEditor"
            default="false"
            id="br.com.michelon.softimob.tela.editor.RuaEditor"
            name="Cadastro Rua">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.AluguelEditor"
            default="false"
            id="br.com.michelon.softimob.tela.editor.AluguelEditor"
            name="Aluguel">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.VendaEditor"
            default="false"
            id="br.com.michelon.softimob.tela.editor.VendaEditor"
            name="Venda">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.ContaPagarReceberEditor"
            default="false"
            id="br.com.michelon.softimob.tela.editor.ContaPagarReceberEditor"
            name="Conta Pagar/Receber">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.DepartamentoEditor"
            default="false"
            id="br.com.michelon.softimob.tela.editor.DepartamentoEditor"
            name="Cadastro Departamento">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.ModeloContratoEditor"
            default="false"
            id="br.com.michelon.softimob.tela.editor.ModeloContratoEditor"
            name="Cadastro Modelo Contrato">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.ModeloContratoEditor"
            default="false"
            id="br.com.michelon.softimob.tela.editor.MovimentacaoContabilEditor"
            name="Movimentações Contábeis">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.ParametrosImobiliariaEditor"
            default="false"
            id="br.com.michelon.softimob.tela.editor.ParametrosImobiliariaEditor"
            name="Parâmetros Imobiliária">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.PlanoContaEditor"
            default="false"
            id="br.com.michelon.softimob.tela.editor.PlanoContaEditor"
            name="Cadastro Plano Conta">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.TipoImovelEditor"
            default="false"
            id="br.com.michelon.softimob.tela.editor.TipoImovelEditor"
            name="Cadastro Tipo Imovel">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.CmdCliente"
            id="br.com.michelon.softimob.command.cmdCliente"
            name="Cliente">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.CmdPlaca"
            id="br.com.michelon.softimob.command.cmdPlaca"
            name="Placa">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.CmdComodo"
            id="br.com.michelon.softimob.command.cmdComodo"
            name="Cômodo">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.CmdFuncionario"
            id="br.com.michelon.softimob.command.cmdFuncionario"
            name="Funcionário">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.CmdTipoImovel"
            id="br.com.michelon.softimob.command.cmdTipoImovel"
            name="Tipo Imóvel">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.CmdImovel"
            id="br.com.michelon.softimob.command.cmdImovel"
            name="Imóvel">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.CmdOpenShortcutEditorsDialog"
            description="Abrir dialog de editors"
            id="br.com.michelon.softimob.aplicacao.command.cmdOpenShortcutEditorsDialog"
            name="Abrir dialog de editors">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="br.com.michelon.softimob.aplicacao.command.cmdOpenShortcutEditorsDialog"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F1">
      </key>
   </extension>

</plugin>
