<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/imobiliaria/imobiliaria32.png">
         <run
               class="br.com.michelon.softimob.aplicacao.main.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="br.com.michelon.softimob.aplicacao.main.Perspective"
            fixed="true"
            id="br.com.michelon.softimob.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="br.com.michelon.softimob.tela.view.FuncionarioView"
            icon="icons/funcionario/funcionario16.png"
            id="br.com.michelon.softimob.tela.view.FuncionarioView"
            name="Funcionário"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.DepartamentoView"
            icon="icons/departamento/departamento16.png"
            id="br.com.michelon.softimob.tela.view.DepartamentoView"
            name="Departamento"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.AluguelView"
            icon="icons/aluguel/aluguel16.png"
            id="br.com.michelon.softimob.tela.view.AluguelView"
            name="Locação"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.VendaView"
            icon="icons/venda/venda16.png"
            id="br.com.michelon.softimob.tela.view.VendaView"
            name="Venda"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.RuaView"
            icon="icons/endereco/endereco16.png"
            id="br.com.michelon.softimob.tela.view.RuaView"
            name="Rua"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.BairroView"
            icon="icons/endereco/endereco16.png"
            id="br.com.michelon.softimob.tela.view.BairroView"
            name="Bairro"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.CidadeView"
            icon="icons/endereco/endereco16.png"
            id="br.com.michelon.softimob.tela.view.CidadeView"
            name="Cidade"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.EstadoView"
            icon="icons/endereco/endereco16.png"
            id="br.com.michelon.softimob.tela.view.EstadoView"
            name="Estado"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.FeedbackView"
            icon="icons/feedback/feedback16.png"
            id="br.com.michelon.softimob.tela.view.FeedbackView"
            name="Feedback"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.ChaveView"
            icon="icons/chave/key16.png"
            id="br.com.michelon.softimob.tela.view.ChaveView"
            name="Chave"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.ChamadoReformaView"
            icon="icons/reforma/reforma16.png"
            id="br.com.michelon.softimob.tela.view.ChamadoView"
            name="Chamado"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.TipoComodoView"
            icon="icons/comodo/door16.png"
            id="br.com.michelon.softimob.tela.view.ComodoView"
            name="Tipo de Cômodo"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.MovimentacaoContabilView"
            icon="icons/movimentacao/movimentacao16.png"
            id="br.com.michelon.softimob.tela.view.MovimentacaoContabilView"
            name="Movimentações Contábeis"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.PgtoRecContaView"
            icon="icons/contaPagar/contaPagar16.png"
            id="br.com.michelon.softimob.tela.view.PgtoRecContaView"
            name="Conta Pagar/Receber"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.OrigemContaView"
            icon="icons/origemConta/origemConta16.png"
            id="br.com.michelon.softimob.tela.view.OrigemContaView"
            name="Origem da Conta"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.PlacaView"
            icon="icons/placa/placa16.png"
            id="br.com.michelon.softimob.tela.view.PlacaView"
            name="Placa"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.ModeloContratoView"
            icon="icons/contrato/contrato16.png"
            id="br.com.michelon.softimob.tela.view.ModeloContratoView"
            name="Modelo de Contrato"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.PlanoContaView"
            icon="icons/planoConta/planoConta16.png"
            id="br.com.michelon.softimob.tela.view.PlanoContaView"
            name="Plano de Contas"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.PropostaView"
            icon="icons/proposta/proposta16.png"
            id="br.com.michelon.softimob.tela.view.PropostaView"
            name="Proposta"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.VistoriaView"
            icon="icons/vistoria/vistoria16.png"
            id="br.com.michelon.softimob.tela.view.VistoriaView"
            name="Vistoria"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.TipoImovelView"
            icon="icons/casa/casa16.png"
            id="br.com.michelon.softimob.tela.view.TipoImovelView"
            name="Tipo Imóvel"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.ImovelView"
            icon="icons/casa/casa16.png"
            id="br.com.michelon.softimob.tela.view.ImovelView"
            name="Imóvel"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.BuscaAvancadaImovelView"
            icon="icons/casa/casa16.png"
            id="br.com.michelon.softimob.tela.view.BuscaAvancadaImovelView"
            name="Busca Avançada de Imóveis">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.PendenciaView"
            icon="icons/pendencia/pendencia16.png"
            id="br.com.michelon.softimob.tela.view.PendenciaView"
            name="Pendências"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.ReservaView"
            icon="icons/reserva/reserva16.png"
            id="br.com.michelon.softimob.tela.view.ReservaView"
            name="Reserva"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.PhotosView"
            icon="icons/foto/foto16.png"
            id="br.com.michelon.softimob.tela.view.PhotosView"
            name="Fotos"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.IndiceView"
            icon="icons/indice/indice16.png"
            id="br.com.michelon.softimob.tela.view.IndiceView"
            name="Indices"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.ComissaoView"
            icon="icons/comissao/comissao16.png"
            id="br.com.michelon.softimob.tela.view.ComissaoView"
            name="Comissão"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.CheckListView"
            icon="icons/checkList/checkList16.png"
            id="br.com.michelon.softimob.tela.view.CheckListView"
            name="Checklist"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.ClientePFView"
            icon="icons/cliente/cliente16.png"
            id="br.com.michelon.softimob.tela.view.ClientePFView"
            name="Pessoa Fisica"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.ClientePJView"
            icon="icons/cliente/cliente16.png"
            id="br.com.michelon.softimob.tela.view.ClientePJView"
            name="Pessoa Jurídica"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="br.com.michelon.softimob.tela.view.ReportView"
            icon="icons/report/report16.png"
            id="br.com.michelon.softimob.tela.view.ReportView"
            name="Relatório">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.ImovelMapView"
            icon="icons/map/map16.png"
            id="br.com.michelon.softimob.tela.view.ImovelMapView"
            name="Mapa">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.UsuarioView"
            icon="icons/user/user16.png"
            id="br.com.michelon.softimob.tela.view.UsuarioView"
            name="Usuário"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.PalavrasChavesView"
            icon="icons/palavraChave/palavraChave16.png"
            id="br.com.michelon.softimob.tela.view.PalavrasChavesView"
            name="Palavras-Chaves"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.ContratoPrestacaoServicoView"
            icon="icons/contrato/contrato16.png"
            id="br.com.michelon.softimob.tela.view.ContratoPrestacaoServicoView"
            name="Contrato de Prestação de Serviço"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">

      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Aplicação">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/user/user16.png"
                  label="Usuário"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.UsuarioView">
               </parameter>
            </command>
            <separator
                  name="br.com.michelon.softimob.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="br.com.michelon.softimob.command.cmdReiniciar"
                  icon="icons/refresh/refresh16.png"
                  label="Reiniciar"
                  style="push">
            </command>
            <command
                  commandId="br.com.michelon.softimob.command.cmdSair"
                  icon="icons/exit/exit16.png"
                  label="Sair"
                  style="push">
            </command>
         </menu>
         <menu
               label="Imóveis">
            <menu
                  icon="icons/casa/casa16.png"
                  label="Imóvel">
               <command
                     commandId="org.eclipse.ui.views.showView"
                     label="Busca Simples"
                     style="push">
                  <parameter
                        name="org.eclipse.ui.views.showView.viewId"
                        value="br.com.michelon.softimob.tela.view.ImovelView">
                  </parameter>
               </command>
               <command
                     commandId="org.eclipse.ui.views.showView"
                     label="Busca Avançada"
                     style="push">
                  <parameter
                        name="org.eclipse.ui.views.showView.viewId"
                        value="br.com.michelon.softimob.tela.view.BuscaAvancadaImovelView">
                  </parameter>
               </command>
            </menu>
            <separator
                  name="br.com.michelon.softimob.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/chave/key16.png"
                  label="Chave"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.ChaveView">
               </parameter>
            </command>
            <menu
                  icon="icons/endereco/endereco16.png"
                  label="Endereço">
               <command
                     commandId="org.eclipse.ui.views.showView"
                     label="Estado"
                     style="push">
                  <parameter
                        name="org.eclipse.ui.views.showView.viewId"
                        value="br.com.michelon.softimob.tela.view.EstadoView">
                  </parameter>
               </command>
               <command
                     commandId="org.eclipse.ui.views.showView"
                     label="Cidade"
                     style="push">
                  <parameter
                        name="org.eclipse.ui.views.showView.viewId"
                        value="br.com.michelon.softimob.tela.view.CidadeView">
                  </parameter>
               </command>
               <command
                     commandId="org.eclipse.ui.views.showView"
                     label="Bairro"
                     style="push">
                  <parameter
                        name="org.eclipse.ui.views.showView.viewId"
                        value="br.com.michelon.softimob.tela.view.BairroView">
                  </parameter>
               </command>
               <command
                     commandId="org.eclipse.ui.views.showView"
                     label="Rua"
                     style="push">
                  <parameter
                        name="org.eclipse.ui.views.showView.viewId"
                        value="br.com.michelon.softimob.tela.view.RuaView">
                  </parameter>
               </command>
            </menu>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/placa/placa16.png"
                  label="Placa"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.PlacaView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/casa/casa16.png"
                  label="Tipo de Imóvel"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.TipoImovelView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/comodo/door16.png"
                  label="Tipo de Cômodo"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.ComodoView">
               </parameter>
            </command>
         </menu>
         <menu
               label="Empresa">
            <menu
                  icon="icons/cliente/cliente16.png"
                  label="Cliente">
               <command
                     commandId="org.eclipse.ui.views.showView"
                     label="Pessoa Fisica"
                     style="push">
                  <parameter
                        name="org.eclipse.ui.views.showView.viewId"
                        value="br.com.michelon.softimob.tela.view.ClientePFView">
                  </parameter>
               </command>
               <command
                     commandId="org.eclipse.ui.views.showView"
                     label="Pessoa Jurídica"
                     style="push">
                  <parameter
                        name="org.eclipse.ui.views.showView.viewId"
                        value="br.com.michelon.softimob.tela.view.ClientePJView">
                  </parameter>
               </command>
            </menu>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/departamento/departamento16.png"
                  label="Departamento"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.DepartamentoView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/funcionario/funcionario16.png"
                  label="Funcionário"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.FuncionarioView">
               </parameter>
            </command>
            <separator
                  name="br.com.michelon.softimob.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/checkList/checkList16.png"
                  label="Checklist"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.CheckListView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/indice/indice16.png"
                  label="Indice"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.IndiceView">
               </parameter>
            </command>
            <separator
                  name="br.com.michelon.softimob.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/pendencia/pendencia16.png"
                  label="Pendências"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.PendenciaView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/contrato/contrato16.png"
                  label="Modelo de Contrato"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.ModeloContratoView">
               </parameter>
            </command>
            <menu
                  icon="icons/report/report16.png"
                  label="Relatórios">
               <command
                     commandId="br.com.michelon.softimob.command.cmdClienteReport"
                     icon="icons/cliente/cliente16.png"
                     label="Clientes"
                     style="push">
               </command>
               <command
                     commandId="br.com.michelon.softimob.command.cmdFuncionarioReport"
                     icon="icons/desempenho/desempenho16.png"
                     label="Desempenho dos Funcionários"
                     style="push">
               </command>
            </menu>
            <separator
                  name="br.com.michelon.softimob.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/palavraChave/palavraChave16.png"
                  label="Palavras-Chaves"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.PalavrasChavesView">
               </parameter>
            </command>
            <command
                  commandId="br.com.michelon.softimob.command.cmdParametroEmpresa"
                  icon="icons/parametros/parametros16.png"
                  label="Parâmetros da Empresa"
                  style="push">
            </command>
         </menu>
         <menu
               label="Financeiro">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/contaPagar/contaPagar16.png"
                  label="Contas Pagar/Receber"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.PgtoRecContaView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/movimentacao/movimentacao16.png"
                  label="Movimentações Contábeis"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.MovimentacaoContabilView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/origemConta/origemConta16.png"
                  label="Origem da Conta"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.OrigemContaView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/planoConta/planoConta16.png"
                  label="Plano de Contas"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.PlanoContaView">
               </parameter>
            </command>
            <separator
                  name="br.com.michelon.softimob.separator4"
                  visible="true">
            </separator>
            <menu
                  icon="icons/report/report16.png"
                  label="Relatórios">
               <command
                     commandId="br.com.michelon.softimob.command.cmdBalancete"
                     label="Balancete"
                     style="push">
               </command>
               <command
                     commandId="br.com.michelon.softimob.command.cmdContaReport"
                     icon="icons/contaPagar/contaPagar16.png"
                     label="Contas a pagar/receber"
                     style="push">
               </command>
               <command
                     commandId="br.com.michelon.softimob.command.cmdRazao"
                     label="Razão"
                     style="push">
               </command>
            </menu>
         </menu>
         <menu
               label="Operações">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/aluguel/aluguel16.png"
                  label="Locação"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.AluguelView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/venda/venda16.png"
                  label="Venda"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.VendaView">
               </parameter>
            </command>
            <separator
                  name="br.com.michelon.softimob.separator5"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/reforma/reforma16.png"
                  label="Chamados de reforma"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.ChamadoView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/comissao/comissao16.png"
                  label="Comissão"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.ComissaoView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/contrato/contrato16.png"
                  label="Contrato de Prestação de Serviço"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.ContratoPrestacaoServicoView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/feedback/feedback16.png"
                  label="Feedback"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.FeedbackView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/proposta/proposta16.png"
                  label="Propostas"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.PropostaView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/reserva/reserva16.png"
                  label="Reservas"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.ReservaView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/vistoria/vistoria16.png"
                  label="Vistorias"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.VistoriaView">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="br.com.michelon.softimob.toolbar">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/cliente/cliente16.png"
                  label="Pessoa Fisica"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.ClientePFView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/empresa/empresa16.png"
                  label="Pessoa Jurídica"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.ClientePJView">
               </parameter>
            </command>
            <separator
                  name="br.com.michelon.softimob.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/casa/casa16.png"
                  label="Imóveis"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.ImovelView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/aluguel/aluguel16.png"
                  label="Locação"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.AluguelView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/venda/venda16.png"
                  label="Venda"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.VendaView">
               </parameter>
            </command>
            <separator
                  name="br.com.michelon.softimob.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/movimentacao/movimentacao16.png"
                  label="Movimentações Contábeis"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.MovimentacaoContabilView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/contaPagar/contaPagar16.png"
                  label="Contas Pagar/Receber"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.PgtoRecContaView">
               </parameter>
            </command>
            <separator
                  name="br.com.michelon.softimob.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/pendencia/pendencia16.png"
                  label="Pendências"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.PendenciaView">
               </parameter>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="br.com.michelon.softimob.tela.editor.FuncionarioEditor"
            icon="icons/funcionario/funcionario16.png"
            id="br.com.michelon.softimob.tela.editor.FuncionarioEditor"
            name="Cadastro de Funcionário">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.PlacaEditor"
            icon="icons/placa/placa16.png"
            id="br.com.michelon.softimob.tela.editor.PlacaEditor"
            name="Cadastro de Placa">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.TipoComodoEditor"
            icon="icons/comodo/door16.png"
            id="br.com.michelon.softimob.tela.editor.ComodoEditor"
            name="Cadastro de Tipo de Cômodo">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.ImovelEditor"
            icon="icons/casa/casa16.png"
            id="br.com.michelon.softimob.tela.editor.ImovelEditor"
            name="Cadastro de Imóvel">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.BairroEditor"
            default="false"
            icon="icons/endereco/endereco16.png"
            id="br.com.michelon.softimob.tela.editor.BairroEditor"
            name="Cadastro de Bairro">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.CidadeEditor"
            default="false"
            icon="icons/endereco/endereco16.png"
            id="br.com.michelon.softimob.tela.editor.CidadeEditor"
            name="Cadastro de Cidade">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.EstadoEditor"
            default="false"
            icon="icons/endereco/endereco16.png"
            id="br.com.michelon.softimob.tela.editor.EstadoEditor"
            name="Cadastro de Estado">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.RuaEditor"
            default="false"
            icon="icons/endereco/endereco16.png"
            id="br.com.michelon.softimob.tela.editor.RuaEditor"
            name="Cadastro de Rua">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.AluguelEditor"
            default="false"
            icon="icons/aluguel/aluguel16.png"
            id="br.com.michelon.softimob.tela.editor.AluguelEditor"
            name="Locação">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.VendaEditor"
            default="false"
            icon="icons/venda/venda16.png"
            id="br.com.michelon.softimob.tela.editor.VendaEditor"
            name="Venda">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.ContaPagarReceberEditor"
            default="false"
            icon="icons/contaPagar/contaPagar16.png"
            id="br.com.michelon.softimob.tela.editor.ContaPagarReceberEditor"
            name="Conta Pagar/Receber">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.DepartamentoEditor"
            default="false"
            icon="icons/departamento/departamento16.png"
            id="br.com.michelon.softimob.tela.editor.DepartamentoEditor"
            name="Cadastro de Departamento">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.ModeloContratoEditor"
            default="false"
            icon="icons/contrato/contrato16.png"
            id="br.com.michelon.softimob.tela.editor.ModeloContratoEditor"
            name="Cadastro de Modelo Contrato">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.MovimentacaoContabilEditor"
            default="false"
            icon="icons/movimentacao/movimentacao16.png"
            id="br.com.michelon.softimob.tela.editor.MovimentacaoContabilEditor"
            name="Movimentações Contábeis">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.ParametrosEmpresaEditor"
            default="false"
            icon="icons/parametros/parametros16.png"
            id="br.com.michelon.softimob.tela.editor.ParametrosEmpresaEditor"
            name="Parâmetros Empresa">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.PlanoContaEditor"
            default="false"
            icon="icons/planoConta/planoConta16.png"
            id="br.com.michelon.softimob.tela.editor.PlanoContaEditor"
            name="Cadastro de Plano de Contas">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.TipoImovelEditor"
            default="false"
            icon="icons/casa/casa16.png"
            id="br.com.michelon.softimob.tela.editor.TipoImovelEditor"
            name="Cadastro de Tipo de Imovel">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.OrigemContaEditor"
            default="false"
            icon="icons/origemConta/origemConta16.png"
            id="br.com.michelon.softimob.tela.editor.OrigemContaEditor"
            name="Cadastro de Origem de Conta">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.IndiceEditor"
            default="false"
            icon="icons/indice/indice16.png"
            id="br.com.michelon.softimob.tela.editor.IndiceEditor"
            name="Cadastro de Indice">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.ClientePFEditor"
            icon="icons/cliente/cliente16.png"
            id="br.com.michelon.softimob.tela.editor.ClientePFEditor"
            name="Cadastro de Pessoa Fisica">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.ClientePJEditor"
            icon="icons/cliente/cliente16.png"
            id="br.com.michelon.softimob.tela.editor.ClientePJEditor"
            name="Cadastro de Pessoa Juridica">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.UsuarioEditor"
            icon="icons/user/user16.png"
            id="br.com.michelon.softimob.tela.editor.UsuarioEditor"
            name="Cadastro de Usuário">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="br.com.michelon.softimob.command.cmdCliente"
            name="Cliente">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.CmdPlaca"
            id="br.com.michelon.softimob.command.cmdPlaca"
            name="Placa">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.CmdComodo"
            id="br.com.michelon.softimob.command.cmdComodo"
            name="Tipo de Cômodo">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.CmdFuncionario"
            id="br.com.michelon.softimob.command.cmdFuncionario"
            name="Funcionário">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.CmdTipoImovel"
            id="br.com.michelon.softimob.command.cmdTipoImovel"
            name="Tipo Imóvel">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.CmdImovel"
            id="br.com.michelon.softimob.command.cmdImovel"
            name="Imóvel">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.CmdOpenShortcutEditorsDialog"
            description="Abrir dialog de editors"
            id="br.com.michelon.softimob.aplicacao.command.cmdOpenShortcutEditorsDialog"
            name="Abrir dialog de editors">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.CmdParametroEmpresa"
            id="br.com.michelon.softimob.command.cmdParametroEmpresa"
            name="Parametros Empresa">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.BalanceteCommand"
            id="br.com.michelon.softimob.command.cmdBalancete"
            name="Balancete">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.RazaoCommand"
            id="br.com.michelon.softimob.command.cmdRazao"
            name="Razão">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.ReiniciarCommand"
            id="br.com.michelon.softimob.command.cmdReiniciar"
            name="Reiniciar">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.SairCommand"
            id="br.com.michelon.softimob.command.cmdSair"
            name="Sair">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.CmdFuncionarioReport"
            id="br.com.michelon.softimob.command.cmdFuncionarioReport"
            name="Relatorio Funcionarios">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.ClienteReportCommand"
            id="br.com.michelon.softimob.command.cmdClienteReport"
            name="ClienteReport">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.ContaReportCommand"
            id="br.com.michelon.softimob.command.cmdContaReport"
            name="ContaReport">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="br.com.michelon.softimob.aplicacao.command.cmdOpenShortcutEditorsDialog"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F1">
      </key>
   </extension>
   <extension
         id="SoftimobProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="br.com.michelon.softimob.application"
            name="Softimob">
         <property
               name="appName"
               value="Softimob">
         </property>
         <property
               name="windowImages"
               value="icons/imobiliaria/imobiliaria16.png,icons/imobiliaria/imobiliaria32.png">
         </property>
      </product>
   </extension>

</plugin>
