<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="br.com.michelon.softimob.aplicacao.main.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="br.com.michelon.softimob.aplicacao.main.Perspective"
            fixed="true"
            id="br.com.michelon.softimob.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="br.com.michelon.softimob.tela.view.ClienteView"
            icon="icons/cliente/cliente16.png"
            id="br.com.michelon.softimob.tela.view.ClienteView"
            name="Cliente"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.FuncionarioView"
            icon="icons/funcionario/funcionario16.png"
            id="br.com.michelon.softimob.tela.view.FuncionarioView"
            name="Funcionário"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.DepartamentoView"
            icon="icons/departamento/departamento16.png"
            id="br.com.michelon.softimob.tela.view.DepartamentoView"
            name="Departamento"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.AluguelView"
            id="br.com.michelon.softimob.tela.view.AluguelView"
            name="Aluguel"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.VendaView"
            icon="icons/venda/venda16.png"
            id="br.com.michelon.softimob.tela.view.VendaView"
            name="Venda"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.RuaView"
            icon="icons/endereco/endereco16.png"
            id="br.com.michelon.softimob.tela.view.RuaView"
            name="Rua"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.BairroView"
            icon="icons/endereco/endereco16.png"
            id="br.com.michelon.softimob.tela.view.BairroView"
            name="Bairro"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.CidadeView"
            icon="icons/endereco/endereco16.png"
            id="br.com.michelon.softimob.tela.view.CidadeView"
            name="Cidade"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.EstadoView"
            icon="icons/endereco/endereco16.png"
            id="br.com.michelon.softimob.tela.view.EstadoView"
            name="Estado"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.FeedbackView"
            icon="icons/feedback/feedback16.png"
            id="br.com.michelon.softimob.tela.view.FeedbackView"
            name="Feedback"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.ChaveView"
            icon="icons/chave/key16.png"
            id="br.com.michelon.softimob.tela.view.ChaveView"
            name="Chave"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.ChamadoView"
            icon="icons/reforma/reforma16.png"
            id="br.com.michelon.softimob.tela.view.ChamadoView"
            name="Chamado"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.ComodoView"
            id="br.com.michelon.softimob.tela.view.ComodoView"
            name="Cômodo"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.MovimentacaoContabilView"
            icon="icons/movimentacao/movimentacao16.png"
            id="br.com.michelon.softimob.tela.view.MovimentacaoContabilView"
            name="Movimentações Contábeis"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.PgtoRecContaView"
            icon="icons/contaPagar/contaPagar16.png"
            id="br.com.michelon.softimob.tela.view.PgtoRecContaView"
            name="Conta Pagar/Receber"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.OrigemContaView"
            icon="icons/contaPagar/contaPagar16.png"
            id="br.com.michelon.softimob.tela.view.OrigemContaView"
            name="Origem da Conta"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.PlacaView"
            icon="icons/placa/placa16.png"
            id="br.com.michelon.softimob.tela.view.PlacaView"
            name="Placa"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.ModeloContratoView"
            icon="icons/contrato/contrato16.png"
            id="br.com.michelon.softimob.tela.view.ModeloContratoView"
            name="Modelo de Contrato"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.PlanoContaView"
            id="br.com.michelon.softimob.tela.view.PlanoContaView"
            name="Plano de Contas"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.PropostaView"
            icon="icons/feedback/feedback16.png"
            id="br.com.michelon.softimob.tela.view.PropostaView"
            name="Proposta"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.VistoriaView"
            icon="icons/vistoria/vistoria16.png"
            id="br.com.michelon.softimob.tela.view.VistoriaView"
            name="Vistoria"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.TipoImovelView"
            icon="icons/imovel/casa16.png"
            id="br.com.michelon.softimob.tela.view.TipoImovelView"
            name="Tipo Imóvel"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.ImovelView"
            icon="icons/imovel/casa16.png"
            id="br.com.michelon.softimob.tela.view.ImovelView"
            name="Imóvel"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.BuscaAvancadaImovelView"
            icon="icons/imovel/casa16.png"
            id="br.com.michelon.softimob.tela.view.BuscaAvancadaImovelView"
            name="Busca Avançada de Imóveis">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.PendenciaView"
            id="br.com.michelon.softimob.tela.view.PendenciaView"
            name="Pendências"
            restorable="true">
      </view>
      <view
            class="br.com.michelon.softimob.tela.view.ReservaView"
            id="br.com.michelon.softimob.tela.view.ReservaView"
            name="Reserva"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">

      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Imóveis">
            <menu
                  icon="icons/imovel/casa16.png"
                  label="Imóvel">
               <command
                     commandId="org.eclipse.ui.views.showView"
                     label="Consulta simples"
                     style="push">
                  <parameter
                        name="org.eclipse.ui.views.showView.viewId"
                        value="br.com.michelon.softimob.tela.view.ImovelView">
                  </parameter>
               </command>
               <command
                     commandId="org.eclipse.ui.views.showView"
                     label="Consulta avançada"
                     style="push">
                  <parameter
                        name="org.eclipse.ui.views.showView.viewId"
                        value="br.com.michelon.softimob.tela.view.BuscaAvancadaImovelView">
                  </parameter>
               </command>
            </menu>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/placa/placa16.png"
                  label="Placa"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.PlacaView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/chave/key16.png"
                  label="Chave"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.ChaveView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/imovel/casa16.png"
                  label="Tipo imóvel"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.TipoImovelView">
               </parameter>
            </command>
            <menu
                  icon="icons/endereco/endereco16.png"
                  label="Endereço">
               <command
                     commandId="org.eclipse.ui.views.showView"
                     label="Estado"
                     style="push">
                  <parameter
                        name="org.eclipse.ui.views.showView.viewId"
                        value="br.com.michelon.softimob.tela.view.EstadoView">
                  </parameter>
               </command>
               <command
                     commandId="org.eclipse.ui.views.showView"
                     label="Cidade"
                     style="push">
                  <parameter
                        name="org.eclipse.ui.views.showView.viewId"
                        value="br.com.michelon.softimob.tela.view.CidadeView">
                  </parameter>
               </command>
               <command
                     commandId="org.eclipse.ui.views.showView"
                     label="Bairro"
                     style="push">
                  <parameter
                        name="org.eclipse.ui.views.showView.viewId"
                        value="br.com.michelon.softimob.tela.view.BairroView">
                  </parameter>
               </command>
               <command
                     commandId="org.eclipse.ui.views.showView"
                     label="Rua"
                     style="push">
                  <parameter
                        name="org.eclipse.ui.views.showView.viewId"
                        value="br.com.michelon.softimob.tela.view.RuaView">
                  </parameter>
               </command>
            </menu>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Cômodo"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.ComodoView">
               </parameter>
            </command>
         </menu>
         <menu
               label="Empresa">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/cliente/cliente16.png"
                  label="Cliente"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.ClienteView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/departamento/departamento16.png"
                  label="Departamento"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.DepartamentoView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/funcionario/funcionario16.png"
                  label="Funcionário"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.FuncionarioView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/contrato/contrato16.png"
                  label="Modelo de Contrato"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.ModeloContratoView">
               </parameter>
            </command>
            <command
                  commandId="br.com.michelon.softimob.command.cmdParametroEmpresa"
                  icon="icons/parametros/parametros16.png"
                  label="Parâmetros da Empresa"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Pendências"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.PendenciaView">
               </parameter>
            </command>
         </menu>
         <menu
               label="Financeiro">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/movimentacao/movimentacao16.png"
                  label="Movimentações"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.MovimentacaoContabilView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/contaPagar/contaPagar16.png"
                  label="Contas pagar/receber"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.PgtoRecContaView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Origem da Conta"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.OrigemContaView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Plano Conta"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.PlanoContaView">
               </parameter>
            </command>
         </menu>
         <menu
               label="Operações">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Aluguel"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.AluguelView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/venda/venda16.png"
                  label="Venda"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.VendaView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/comissao/comissao16.png"
                  label="Comissão"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.ComissaoView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/contrato/contrato16.png"
                  label="Contrato"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.ContratoView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/reforma/reforma16.png"
                  label="Chamados de reforma"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.ChamadoView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/feedback/feedback16.png"
                  label="Feedback"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.FeedbackView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/feedback/feedback16.png"
                  label="Propostas"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.PropostaView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/vistoria/vistoria16.png"
                  label="Vistorias"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.VistoriaView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Reservas"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="br.com.michelon.softimob.tela.view.ReservaView">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="br.com.michelon.softimob.tela.editor.TipoImovelEditor"
            icon="icons/imovel/casa16.png"
            id="br.com.michelon.softimob.tela.editor.TipoImovelEditor"
            name="Cadastro Tipo de Imóvel">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.FuncionarioEditor"
            icon="icons/funcionario/funcionario16.png"
            id="br.com.michelon.softimob.tela.editor.FuncionarioEditor"
            name="Cadastro Funcionário">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.PlacaEditor"
            icon="icons/placa/placa16.png"
            id="br.com.michelon.softimob.tela.editor.PlacaEditor"
            name="Cadastro Placa">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.ClienteEditor"
            icon="icons/cliente/cliente16.png"
            id="br.com.michelon.softimob.tela.editor.ClienteEditor"
            name="Cadastro Cliente">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.ComodoEditor"
            id="br.com.michelon.softimob.tela.editor.ComodoEditor"
            name="Cadastro Cômodo">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.ImovelEditor"
            icon="icons/imovel/casa16.png"
            id="br.com.michelon.softimob.tela.editor.ImovelEditor"
            name="Cadastro Imóvel">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.BairroEditor"
            default="false"
            icon="icons/endereco/endereco16.png"
            id="br.com.michelon.softimob.tela.editor.BairroEditor"
            name="Cadastro Bairro">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.CidadeEditor"
            default="false"
            icon="icons/endereco/endereco16.png"
            id="br.com.michelon.softimob.tela.editor.CidadeEditor"
            name="Cadastro Cidade">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.EstadoEditor"
            default="false"
            icon="icons/endereco/endereco16.png"
            id="br.com.michelon.softimob.tela.editor.EstadoEditor"
            name="Cadastro Estado">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.RuaEditor"
            default="false"
            icon="icons/endereco/endereco16.png"
            id="br.com.michelon.softimob.tela.editor.RuaEditor"
            name="Cadastro Rua">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.AluguelEditor"
            default="false"
            id="br.com.michelon.softimob.tela.editor.AluguelEditor"
            name="Aluguel">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.VendaEditor"
            default="false"
            icon="icons/venda/venda16.png"
            id="br.com.michelon.softimob.tela.editor.VendaEditor"
            name="Venda">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.ContaPagarReceberEditor"
            default="false"
            icon="icons/contaPagar/contaPagar16.png"
            id="br.com.michelon.softimob.tela.editor.ContaPagarReceberEditor"
            name="Conta Pagar/Receber">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.DepartamentoEditor"
            default="false"
            icon="icons/departamento/departamento16.png"
            id="br.com.michelon.softimob.tela.editor.DepartamentoEditor"
            name="Cadastro Departamento">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.ModeloContratoEditor"
            default="false"
            icon="icons/contrato/contrato16.png"
            id="br.com.michelon.softimob.tela.editor.ModeloContratoEditor"
            name="Cadastro Modelo Contrato">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.MovimentacaoContabilEditor"
            default="false"
            icon="icons/movimentacao/movimentacao16.png"
            id="br.com.michelon.softimob.tela.editor.MovimentacaoContabilEditor"
            name="Movimentações Contábeis">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.ParametrosEmpresaEditor"
            default="false"
            icon="icons/parametros/parametros16.png"
            id="br.com.michelon.softimob.tela.editor.ParametrosEmpresaEditor"
            name="Parâmetros Empresa">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.PlanoContaEditor"
            default="false"
            id="br.com.michelon.softimob.tela.editor.PlanoContaEditor"
            name="Cadastro Plano Conta">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.TipoImovelEditor"
            default="false"
            icon="icons/imovel/casa16.png"
            id="br.com.michelon.softimob.tela.editor.TipoImovelEditor"
            name="Cadastro Tipo Imovel">
      </editor>
      <editor
            class="br.com.michelon.softimob.tela.editor.OrigemContaEditor"
            default="false"
            icon="icons/contaPagar/contaPagar16.png"
            id="br.com.michelon.softimob.tela.editor.OrigemContaEditor"
            name="Cadastro Origem de Conta">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="br.com.michelon.softimob.command.cmdCliente"
            name="Cliente">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.CmdPlaca"
            id="br.com.michelon.softimob.command.cmdPlaca"
            name="Placa">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.CmdComodo"
            id="br.com.michelon.softimob.command.cmdComodo"
            name="Cômodo">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.CmdFuncionario"
            id="br.com.michelon.softimob.command.cmdFuncionario"
            name="Funcionário">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.CmdTipoImovel"
            id="br.com.michelon.softimob.command.cmdTipoImovel"
            name="Tipo Imóvel">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.CmdImovel"
            id="br.com.michelon.softimob.command.cmdImovel"
            name="Imóvel">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.CmdOpenShortcutEditorsDialog"
            description="Abrir dialog de editors"
            id="br.com.michelon.softimob.aplicacao.command.cmdOpenShortcutEditorsDialog"
            name="Abrir dialog de editors">
      </command>
      <command
            defaultHandler="br.com.michelon.softimob.aplicacao.command.CmdParametroEmpresa"
            id="br.com.michelon.softimob.command.cmdParametroEmpresa"
            name="Parametros Empresa">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="br.com.michelon.softimob.aplicacao.command.cmdOpenShortcutEditorsDialog"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F1">
      </key>
   </extension>

</plugin>
